.title {
  text-align: center;
  font-size: 3rem;
}
.intro {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 1.5;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.diagram {
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;  
  min-width: 50%;
}

.diagram > * {
  width: 100%;
}

.columnLeft {
  display: none; /*mobile only*/
  min-width: 20%;
  margin: 0;
  margin-right: 0;
  margin-left: 2em;
}

.columnContainer {
  margin: 0;
  display: block; /*mobile only*/
  margin-left: 0;
  text-align: center;
  margin-right: 2em;
}

.columnRight {
  display: none; /*mobile only*/
  min-width: 20%;
  margin-right: 0;
  margin-top: 2em;
}

.bottomRow {
  display: none; /*mobile only*/
  margin-top: 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 3em;
}

.boxOne {
  margin-right: 0;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0.5em;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}
.boxTwo {
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0.5em;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.boxThree {
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0.5em;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.boxFour {
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0.5em;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.boxFive {
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0.5em;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.boxSix {
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0.5em;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.boxSeven {
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0.5em;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.boxEight {
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0.5em;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.mobileView {
  display: flex;
  flex-direction: column;
  width: 75%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.video {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 1.5;
  font-size: 1.5rem;
  margin-bottom: 5rem;
  max-width: 80%;
}

html {
  font-size: 30px;
}
@media (min-width: 1200px) {
  .columnLeft {
    display: flex;
    flex-direction: column;
  }
  .columnRight {
    display: flex;
    flex-direction: column;
  }
  .bottomRow {
    display: flex;
  }
  .mobileView {
    display: none;
  }
  .columnContainer {
    display: flex;
    font-size: 2rem;
  }
  html {
    font-size: 18px;
  }
}

@media (max-width: 1200px) {
  .columnContainer {
    width: 100%;
  }
}