.access {
  text-align: center;
  font-size: 3rem;
}

.backArrow {
  width: 4rem;
  margin: 1rem;
}

.opener {
  margin: 1rem;
  vertical-align: middle;
}

.internet{
  width: 1.5rem;
  height: 1rem;
  vertical-align: middle;
}